#title,#footer{
    background: linear-gradient(-45deg, red,green,blue,yellow);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    
}
#title svg{
    margin-bottom: 4px;
}
#testimonial{
    margin: 10px;
    background-color: #f8f9fa;
    padding: 10px;
}
#testimonial img{
    border-radius: 30%;
    width: 40%;
    height: 40%;
}
#testimonial h1,p{
    color: black;
    opacity: 75%;
    text-align: right;
}
.sponsor{
    margin-top: 20px;
    border-radius: 1px;
    width: 30%;
}
.row{
    display: flex;
justify-content: space-evenly;
}
#pricing{
    margin-left: 15%;
    margin-right: 15%;
}
hr{

padding-left: 15%;

}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}